/* body {
  background-color: red;
} */

#title {
  text-align: center;
}

#color-palette {
  text-align: center;
}

.color {
  display: inline-block;
  background-color: red;
  border: black solid 1px;
  height: 100px;
  width: 100px;
  text-align: center;
}